/*Обнуление*/
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
img{
    vertical-align:top;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit; 
    font-weight: inherit;
}
html, body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #252B42;
    font-family: montserrat;
    font-weight: 500;
    background-color: #FAFAFA;
}

/*--------------------ОБЕРТКА--------------------------------------*/

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex; /*Привязать footer к низу страницы*/
    flex-direction: column; /*Привязать footer к низу страницы*/
}

/*--------------------КОНТЕЙНЕР--------------------------------------*/

._container {
    max-width: 1046px;
    margin: 0px auto; /*выставить блок по центру*/
    box-sizing: content-box; /*чтобы padding не влиял на ширину контента max-width: 1046px;*/
    padding: 0px 15px; /*чтобы при сужении экрана контент не прилипал к краю экрана*/
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*--------------------ШАПКА--------------------------------------*/

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
} 
@media (max-width: 479px) {
    .header__container {
        min-height: 70px; /*При ширине экрана < 479px уменьшить высоту header с 104px до 70px*/
    }
}
.header__logo {
    font-size: 24px;
    font-weight: 700;
    color:inherit; /*т.к. ссылки по умолчанию не наслудеют цвет*/
}
.header__menu {
    margin-left: 133px; /* по БЭМ (Блок, Элемент, Модификатор) устанавливать сюда, а не в menu, хоть это одно и то же*/
}
@media (max-width: 992px) {
    .header__menu {
        margin-left: 80px; /*Уменьшить отступ co 133px до 80px при размере экрана < 992px*/
    }
}
@media (max-width: 767px) {
    .header__menu {
        margin-left: 40px; /*Уменьшить отступ c 80px до 40px при размере экрана < 767px*/
    }
}
@media (max-width: 479px) {
    .header__menu {
        margin-left: 20px; /*Уменьшить отступ c 80px до 40px при размере экрана < 767px*/
    }
}
.menu {
    padding: 5px 0px;
}
.menu__list {
    display: flex;
    flex-wrap: wrap; /*чтобы элементы li переносились вниз при сжатии*/
}
.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px; /*Убрать отступ справа у последнего элемента*/
}
.menu__link {
    color: #737373;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%); 
}
@media (max-width: 479px) {
    .menu__link {
        font-size: 18px; /*увеличить шрифт с 14px до 18px при размере экрана < 767px*/
        color: #535353 /*При размере экрана < 479px сделать цвет текста темнее*/
    } 
}

/*--------------------PAGE--------------------------------------*/

.page {
    flex: 1 1 auto; /*Привязать footer к низу страницы*/    
}
.page__main-block {
}
.page__services {
    position: relative;
    z-index: 2;
    margin: -111px 0px 0px 0px;
}
.page__advantages {
}
.page__practice {
}
.page__whoweare {    
}
.page__clients:not(:last-child) {
    margin: 0px 0px 10px 0px;    
}
.page__subscribe {    
}
.page__getintouch {
}
.page__contact {
}


/*--------------------HEADER-BLOCK--------------------------------------*/

.header-block {
    text-align: center;
    letter-spacing: 0.2px;
}
.header-block__title {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(57 / 40 * 100%);
}
.header-block__title:not(:last-child) {
    margin: 0px 0px 10px 0px; /*В случае если sub-title не будет, отступ не будет добавлен*/
}
@media (max-width: 992px) {
    .header-block__title {
        font-size: 36px;
    }
}
@media (max-width: 479px) {
    .header-block__title {
        font-size: 32px;
    }
}
.header-block__sub-title {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    color: #737373;
}

/*--------------------MAIN-BLOCK--------------------------------------*/

.main-block {
    position: relative;
}
.main-block__container {
}
.main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;  
    max-width: 400px;
}
.main-block__body > *:not(:last-child) { /*установили отступ снизу ко всем элементам первого уровня вложенности, кроме последнего элемента*/
    margin: 0px 0px 35px 0px;
}
@media (max-width: 992px) {
    .main-block__body {
        padding: 120px 0px 191px 0px; /*При размере экрана < 992px уменьшить отступ с 184px до 120px*/
    }
}
.main-block__title {
    font-size: 58px;
    line-height: calc(80 / 58 * 100%);
    letter-spacing: 0.2px;
    font-weight: 800;
}
@media (max-width: 479px) {
    .main-block__title {
        font-size: 44px; /*При размере экрана < 479px уменьшить размер шрифта с 58px до 42px*/
    }
}
.main-block__text {
    font-size: 20px;
    line-height: calc(30 / 20 * 100%);
    color: #737373;
}
@media (max-width: 479px) {
    .main-block__text {
        color: #535353 /*При размере экрана < 479px сделать цвет текста темнее*/
    }
}
.main-block__buttons {
    display: flex;
    flex-wrap: wrap; /*чтобы при сужении экрана, кнопки переносились одна под другую*/
    margin: -10px 0px;
}
.main-block__button {
    border-radius: 37px;
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2px;
    font-weight: 700;
    text-align: center;
    line-height: calc(28 / 14 * 100%);
    padding: 5px 36px;
    margin: 10px 0px;
}
@media (min-width: 479px) {
    .main-block__button:not(:last-child){
        margin-right: 10px;
    }
}
@media (max-width: 479px){
    .main-block__button {
        flex: 1 1 auto; /*При размере экрана < 479px сделать кнопки по всей ширине блока*/
    }
}
.main-block__button_orange {
    background-color: #FF7B47;
    color: #fff;
}
.main-block__button_border {
    border: 1px solid #0D5C63;
    color: #0D5C63;
}
.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
@media (max-width: 1440px) {
    .main-block__image img{
        object-position: right; /*При размере экрана < 1440px изображение привязать в правому краю*/
    }
}
@media (max-width: 992px) {
    .main-block__image img{ 
        opacity: 0.5; /*При размере экрана < 992px изображение сделать полупрозрачным*/
    }
}

/*--------------------SECTION SERVICES--------------------------------------*/

.services {
}
.services__container {
}
.services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
}
.services__column {
    padding: 0px 15px;
    flex: 0 1 33.3333%;
}
.services__column:last-child{
    margin-bottom: 0px;
}
@media (max-width: 992px) {
    .services__column {
        flex: 0 1 50%; /*При размере экрана < 992px сделать колонки шириной 50% от блока*/
        margin-bottom: 30px; /*При размере экрана < 992px сделать нижний margin на 30px*/
    }
}
@media (max-width: 680px) {
    .services__column {
        flex: 0 1 100%; /*При размере экрана < 680px сделать колонки шириной 100% от блока*/
        margin-bottom: 15px; /*При размере экрана < 680px сделать нижний margin на 15px*/
    }
}
.services__item {
    height: 100%;
    background-color: #fff;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    padding: 35px 40px;
}
@media (max-width: 479px) {
    .services__item {
        padding: 25px 40px;
    }
}
.item-service {
}
.item-service > *:not(:last-child) {
    margin-bottom: 10px;
}
.item-service__green {
    background-color: #0D5C63;
}
.item-service__green .item-service__title {
    color: #fff;
}
.item-service__green .item-service__text{
    color: #fff;
}
.item-service__icon {
    height: 48px;
    display: flex;
    align-items: flex-start;    
}
.item-service__title {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);
}
.item-service__text {
    color: #737373;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: calc(20 / 14 * 100%);
}


/*--------------------SECTION ADVANTAGES--------------------------------------*/


.advantages {
    padding: 80px 0px;
}
@media (max-width: 479px) {
    .advantages {
        padding: 50px 0px;
    }
}
.advantages___container {
}
.advantages__headeг {
    margin: 0px 0px 50px 0px;

    /* border: 2px solid black */
}
@media (max-width: 992px) {
    .advantages__headeг {
        margin: 0px 0px 35px 0px;
    }
}
@media (max-width: 479px) {
    .advantages__headeг {
        margin: 0px 0px 20px 0px;
    }
}
.advantages__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;

    /* border: 5px solid red; */
}
.advantages__column {
    padding: 0px 15px;
    flex: 0 1 25% 
}
@media (max-width: 992px) {
    .advantages__column {
        flex: 0 1 50%; 
        margin-bottom: 30px
    }
}
@media (max-width: 479px) {
    .advantages__column {
        flex: 0 1 100%;
        margin-bottom: 15px 
    }
    .advantages__column:last-child {
        margin-bottom: 0px 
    }
}
.advantages__item {
    background-color: #fff;
    padding: 30px 20px;
    text-align: center;
    height: 100%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.advantages__item > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.advantages__icon {
    height: 48px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.advantages__value {
    font-weight: 700;
    font-size: 40px;
    line-height: calc(57 / 40 * 100%);
    letter-spacing: 0.2px;
}
.advantages__text {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    letter-spacing: 0.1px;
    color: #737373;
    /* white-space: nowrap;  */
}

/*--------------------SECTION PRACTICE--------------------------------------*/



.practice {
    padding: 80px 0px;
}
@media (max-width: 992px) {
    .practice {
        padding: 40px 0px;
    }
}
@media (max-width: 479px) {
    .practice {
        padding: 20px 0px;
    }
}
.practice__container {
}
.practice__headeг {
    margin: 45px 0px;
}
.practice__body {
    margin: 0px -15px;
    display: flex;
    flex-wrap: wrap;
}
.practice__column {
    padding: 0px 15px;
    flex: 0 1 25%;    
}
@media (max-width: 992px) {
    .practice__column {
        flex: 0 1 50%; 
        margin-bottom: 30px;
    }
}
@media (max-width: 479px) {
    .practice__column {
        flex: 0 1 100%; 
        margin-bottom: 15px;
    }
    .practice__column:last-child{
        margin-bottom: 0px;
    }
}
.practice__item {

}
.item-practice {
    background-color: #fff;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07); 
    display: flex; /*Чтобы картинки были привязаны к низу блока*/
    height: 100%; /*Чтобы картинки были привязаны к низу блока*/
    flex-direction: column; /*Чтобы картинки были привязаны к низу блока*/
}
.item-practice__content {
    padding: 30px;
    flex: 1 1 auto; /*Чтобы картинки были привязаны к низу блока*/
}
.item-practice__link {
    color: inherit;
    display: inline-block; /*чтобы ссылку сделать из строки блоком, чтобы далее добавить ей отступ */
    margin: 0px 0px 15px 0px;
}
.item-practice__link:hover {
    text-decoration: underline;
}
.item-practice__title {
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: calc(24 / 16 * 100%);
    font-weight: 700;
}
.item-practice__text {
    letter-spacing: 0.2px;
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    font-weight: 500;
    color: #737373;
}
.item-practice__image{
    display: block;
    padding: 60% 0% 0% 0px; /*Результат деления сторон картинки 138/230*100%*/
}

/*--------------------SECTION WHO WE ARE--------------------------------------*/
.whoweare {
    background-color: #fff;
    padding: 80px 0px 130px 0px;
}
.whoweare__container {
}
.whoweare__headeг {
    margin: 0px 0px 100px 0px;
}
.whoweare__body {
    display: flex;
    align-items: flex-start; /*чтобы видео и контент прижались к верху блока*/
}
.whoweare__video {
    flex: 0 0 57%; /*600px / 1046px*/
    position: relative;
    padding: 0px 0px 42.25% 0px; /*442px / 1046px * 100%*/
}
.whoweare__video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.whoweare__content {
    flex: 1 1 auto; /*600px / 1046px*/
    margin: 0px 0px 0px 100px;
}
.whoweare__top{
}
.whoweare__top:not(:last-child){
    margin: 0px 0px 50px 0px;
}
.whoweare__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 143%; /*57px / 40px * 100% = 142.5%*/
    letter-spacing: 0.2px;
}
.whoweare__title:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.whoweare__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%; /*20px / 14px * 100% = */
    letter-spacing: 0.2px;
    color: #737373;
}
.whoweare__items {
}
.whoweare__item {
}
.whoweare__item:not(:last-child) {
    margin: 0px 0px 30px 0px;
}
.item-whoweare {
    display: flex;
}
.item-whoweare__icon {
    flex: 0 0 32px
}
.item-whoweare__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 20px;
}
.item-whoweare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%; /*24px / 16px * 100% = 150*/
    letter-spacing: 0.1px;
}
.item-whoweare__title:not(:last-child) {
    margin: 0px 0px 5px 0px;
}
.item-whoweare__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 171%; /*24px / 14px * 100% = 171%*/
    letter-spacing: 0.1px;
    color: #737373;
    white-space: nowrap; /*текст скрывать лучше через JS, этот вариант для примера*/
    width: 220px; /*текст скрывать лучше через JS, этот вариант для примера*/    
    overflow: hidden; /*текст скрывать лучше через JS, этот вариант для примера*/
}

@media (max-width: 1080px) {
    .whoweare__content {
        margin: 0px 0px 0px 50px;
    }
}

@media (max-width: 992px) {
    .whoweare {
        padding: 50px 0px 50px 0px;
    }
    .whoweare__headeг {
        margin: 0px 0px 45px 0px;
    }
    .whoweare__body {
        /* flex-direction: column-reverse; /*чтобы видео уходило вниз*/
        flex-direction: column;
        align-items: stretch; /*чтобы появилось видео*/
    }
    .whoweare__video{
        padding: 0px 0px 56.25% 0px;
        /* margin: 45px 0px 0px 0px; /*отступ, если видео уходит вниз*/
        margin: 0px 0px 45px 0px;
    }
    .whoweare__content {
        margin: 0px 0px 0px 0px;
    }
    .whoweare__title {
        font-size: 24px;
    }
}


/*--------------------DIV CLIENTS--------------------------------------*/

.clients {
    padding: 50px 0px 50px 0px;       
}
.clients__container{
}
.clients__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.clients__item {
    padding: 10px 15px;
    flex: 0 1 16.6667%; 
    text-align: center;
    min-width: 140px; /*Теперь можно загрузить любую картинку любого размера и ничего не поламается*/ 
}
.clients__item img {
    max-width: 100%; /*Теперь можно загрузить любую картинку любого размера и ничего не поламается*/
}


/*--------------------SECTION SUBSCRIBE--------------------------------------*/


.subscribe {
    position: relative;
    padding: 0px 0px 20px 0px;
    /* border: 5px solid red */
}
.subscribe::before {
    content: "";
    position: absolute;
    bottom: 0px;
    z-index: -1;
    left: 0px;
    width: 100%;
    height: 77px;
    background-color: #252B42;
}
.subscribe__container {
} 
._container {
}
.subscribe__body {
    background-color: #17213C;
    border-radius: 2px;
    margin: 0px 30px;
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 1070px) {
    .subscribe__body {
        margin: 0px 0px;
    }
}
@media (max-width: 810px) {
    .subscribe__body {
        display: block;
        padding: 15px 15px;
        margin: 0px -15px; /*убрать ненужные отступы по 15px слува и справа*/
    }
}

.subscribe__title {
    max-width: 266px;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%; /*32px/24*100% = 133%*/
    letter-spacing: 0.1px;
    color: #fff;
}
@media (max-width: 810px) {
    .subscribe__title {
        margin: 0px 0px 20px 0px;
        max-width: 100%;
    }
}
@media (max-width: 479px) {
    .subscribe__title {
        font-size: 20px;
    }
}
.subscribe__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
}
.subscribe__form >* {
    min-height: 58px;
}
.subscribe__input {
    width: 100%;
    flex: 1 1 auto;
    background-color: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-right: 0px;
    border-radius: 5px 0px 0px 5px;
    padding: 0px 20px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.2px;
    color: #737373;
}
.subscribe__input:hover {
    color: #000;
}
.subscribe__button {
    width: 117px;  
    background-color: #FF7B47;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 22px;
    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.2px;
    color: #fff;
}
@media (max-width: 479px) {
    .subscribe__form >* {
        min-height: 38px;
    }
}


/*--------------------SECTION GETINTOUCH--------------------------------------*/


.getintouch {
    padding: 80px 0px 130px 0px;
}
.getintouch__container {
}
.getintouch__header {
    margin: 0px 0px 80px 0px;
}
@media (max-width: 992px) {
    .getintouch__header {
        margin: 0px 0px 40px 0px;
    }
}
.getintouch__items {
    display: flex;
    align-items: center;
}
@media (max-width: 992px) {
    .getintouch__items {
        display: block;
        margin: 0 -15px;
    }
}
.getintouch__item {
    flex: 0 1 33.333%;
}
.item-getintouch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 50px 40px;
}
.item-getintouch >*:not(:last-child){
    margin: 0px 0px 15px 0px;
} 
.item-getintouch_active {
    background-color: #252B42;
    color: #fff;
    padding: 80px 40px;
}
@media (max-width: 992px) {
    .item-getintouch_active {
        padding: 50px 40px;
    }
}
@media (max-width: 479px) {
    .item-getintouch {
        padding: 25px 40px;
    }
    .item-getintouch_active {
        padding: 25px 40px;
    }
}
.item-getintouch__icon {
}
.item-getintouch__emails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-getintouch__email {
    color: inherit;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
    letter-spacing: 0.2px;
}
.item-getintouch__email:hover {
    text-decoration: underline;
}
.item-getintouch__label {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(24 / 16 *100%);
    letter-spacing: 0.1px;
}
.item-getintouch__button {
    border: 1px solid #ff7b47;
    border-radius: 5px;
    min-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
    letter-spacing: 0.2px;
    color: #ff7b47;
    transition: all 0.3s ease 0s;
}
.item-getintouch_active .item-getintouch__button {
    border: 1px solid #fff;
    color: #fff;
}
.item-getintouch__button:hover {
    background-color: #ff7b47;
    border: 1px solid #ff7b47;
    color: #fff;
}

/*--------------------SECTION CONTACT--------------------------------------*/

.contact {
    background-color: #fff;
    padding: 42px 0px;
}
.contact__container {
}
.contact__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact__content {
    padding: 0px 20px 0px 0px;
}
@media (max-width: 767px) {
    .contact__body {
        display: block;      
    }
    .contact__content:not(:last-child) {
        margin: 0px 0px 20px 0px;
    }
}
.contact__title {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: calc(32 / 24 * 100%);
    letter-spacing: 0.1px;
}
.contact__title:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.contact__text {
    color: #737373;
    line-height: calc(20 / 14 * 100%);
    letter-spacing: 0.2px;   
}
.contact__button {
    display: flex;
    background-color: #ff7b47;
    border-radius: 5px;
    min-height: 58px;
    padding: 5px 40px;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(28 / 14 * 100%);
    letter-spacing: 0.2px;
    transition: background-color 0.3s ease 0s;

}
.contact__button:hover {
    background-color: #7c391e;
}


/*--------------------ПОДВАЛ--------------------------------------*/
/* .footer {} */


/* border: 5px solid red  */