/*Обнуление*/
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul, ol, li {
    list-style: none;
}
img{
    vertical-align:top;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit; 
    font-weight: inherit;
}
html, body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #252B42;
    font-family: montserrat;
    font-weight: 500;
}
/*--------------------ОБЕРТКА--------------------------------------*/

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex; /*Привязать footer к низу страницы*/
    flex-direction: column; /*Привязать footer к низу страницы*/

    /* border: 5px solid red; */
}

/*--------------------КОНТЕЙНЕР--------------------------------------*/

._container {
    max-width: 1046px;
    margin: 0px auto; /*выставить блок по центру*/
    box-sizing: content-box; /*чтобы padding не влиял на ширину контента max-width: 1046px;*/
    padding: 0px 15px; /*чтобы при сужении экрана контент не прилипал к краю экрана*/
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*--------------------ШАПКА--------------------------------------*/

.header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 50;

    /* border: 2.5px solid yellow; */
}
.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;

    /* border: 2.5px solid green; */
} 
@media (max-width: 479px) {
    .header__container {
        min-height: 70px; /*Уменьшить отступ co 133px до 80px при размере экрана < 992px*/
    }
}
.header__logo {
    font-size: 24px;
    font-weight: 700;
    color:inherit; /*т.к. ссылки по умолчанию не наслудеют цвет*/
}
.header__menu {
    margin-left: 133px; /* по БЭМ (Блок, Элемент, Модификатор) устанавливать сюда, а не в menu, хоть это одно и то же*/

    /* border: 2.5px solid orange; */
}
@media (max-width: 992px) {
    .header__menu {
        margin-left: 80px; /*Уменьшить отступ co 133px до 80px при размере экрана < 992px*/
    }
}
@media (max-width: 767px) {
    .header__menu {
        margin-left: 40px; /*Уменьшить отступ c 80px до 40px при размере экрана < 767px*/
    }
}
@media (max-width: 479px) {
    .header__menu {
        margin-left: 20px; /*Уменьшить отступ c 80px до 40px при размере экрана < 767px*/
    }
}
.menu {
    /* padding: 5px 0px; */
}
.menu__list {
    display: flex;
    flex-wrap: wrap; /*чтобы элементы li переносились вниз при сжатии*/
}
.menu__item:not(:last-child) {
    margin: 0px 21px 0px 0px; /*Убрать отступ справа у последнего элемента*/
}
.menu__link {
    color: #737373;
    font-weight: 600;
    line-height: calc(24 / 14 * 100%); /*line-height: 24px / 14px * 100% = 171%*/
}
@media (max-width: 479px) {
    .menu__link {
        font-size: 18px; /*увеличить шрифт с 14px до 18px при размере экрана < 767px*/
    } 
}

/*--------------------MAIN--------------------------------------*/

.page {
    flex: 1 1 auto; /*Привязать footer к низу страницы*/    
}
.page__main-block {

}

/*--------------------MAIN-BLOCK--------------------------------------*/


.main-block {
    position: relative;
}
.main-block__container {}
.main-block__body {
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;  
}
.main-block__title {
    font-size: 58px;
    line-height: calc(80 / 58 * 100%);
    font-weight: 800;
    max-width: 509px;
}
.main-block__text {
    color: #737373;
    
}
.main-block__buttons {}
.main-block__button {}
.main-block__button {}
.main-block__button_border {}
.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
._ibg {
    
}



/*--------------------ПОДВАЛ--------------------------------------*/
.footer {


}